h1 {
    font: courier;
    font-size: 60px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    color: rgb(0, 114, 16);
    border: 10px solid rgb(0, 114, 16);
    background-color: rgb(143, 143, 143);
    margin: 10px;
    
}
h2 {
    font: courier;
    font-size: 30px;
    text-align: center;
}
h4 {
    font: courier;
    text-align:center;
    /*will not see this work if we dont need to scroll*/
    position: sticky;
    top: 0;
    padding: 5px;
    border: 1px solid black;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
h5 {
    font: courier;
}
body {
    background-color: rgb(49, 49, 49);
}
main {
    flex: 1;
}
.grid-container {
    z-index: 0;
    display: grid;
    /*1fr, 2fr, ... evenly divides it
    auto fits the container to the content*/
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(0, 114, 16);
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.grid-container > div {
    z-index: 0;
    background-color: rgb(143, 143, 143);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
p {
    z-index: 0;
    font: courier;
}
ul {
    list-style-type: square;
}
.list {
    display: inline;
    margin-right: 25px;
}
a {
    /*dont need this bc i use h2 but still here for shigs*/
    font: courier;
}
.ad-space {
    
}
.ad-space > div {
    z-index: 0;
    background-color: rgb(143, 143, 143);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}